<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Главная страница</title>
</head>
<body>
    <div class="main index">
        <img class="home" src="/images/home.png" onclick="document.location.href = '/'">
        <div class="button index" onclick="document.location.href = '/todo'">Задачи</div><br/>
        <div class="button index" onclick="document.location.href = '/regexp'">Редактор regExp</div>
        <div class="time"></div>
        <img class="weather" src="/weather">
    </div>
    <script src="/js/time.js"></script>
</body>
</html>