<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <File name="SearchQuery" fileName="logs/search_query.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INPUT_HISTORY"/>
            </Filters>
        </File>

        <File name="SearchError" fileName="logs/search_error.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INVALID_STATIONS"/>
            </Filters>
        </File>

        <File name="Exceptions" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="SearchQuery"/>
            <appender-ref ref="SearchError"/>
            <appender-ref ref="Exceptions" level="error"/>
        </root>
    </loggers>
</configuration>